*{
    padding: 0;
    margin: 0;
}
.all{
    border: 3px solid black;
    padding: 20px;
    width: 720px;
    background-color: rgb(235, 230, 230);
    margin: 0 auto;
}
body {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    padding: 40px;
}

h1 {
    margin-bottom: 20px;
}

.do {
    list-style: none;
    padding: 0;
    width: 700px;
}
.do li{
    margin-bottom: 3px;
    padding: 10px;
    cursor: pointer;
    font-size: 26px;
    align-items: center;
    display: flex;
}
.do li.done{
    background-color: #e0e0e0;
}
.do li.done.ss{
    text-decoration: line-through;
    color:#444;
}

.do li:nth-child(odd) {
    background-color: #add8dc;

}
.do li:nth-child(even) {
    background-color: #dff4f5;
}

.icon{
    width: 24px;
    margin-right: 12px;
}
.do li::after{
    content:"×" ;
    margin-left: 20px;
    font-size: 26px;
    color: red;
}
.do li.done{
    background-color: #e0e0e0;
}
.do li.done .ss{
    text-decoration:line-through;
    color:#444;
}