*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Courier New', Courier, monospace;
    padding: 40px;
    background-color: white;
}
h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
.gallery{
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid black;
}
.big-f img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    margin-bottom: 20px;
}
.small{
    display: flex;
    gap: 10px;
    justify-content: center;
}
.small img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    cursor: pointer;
    border: 2px solid transparent;
}
.small img:hover {
    border: 2px solid black;
}
